.ReactModalPortal > div {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal{
  background-color: aqua;
  /* width: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); */
}